@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.header {
    position: absolute;
    padding: 20px 0;
    top: 25px;
    width: 100%;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 150px;
}

.menu-link {
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.menu-link:hover {
    border-bottom: 1px solid #2dc997;
}

.hero {
    background: rgba(0, 0, 0, 0.5) url("../images/hero-bg.jpg") fixed no-repeat top center/cover;
    background-blend-mode: darken;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-desc {
    font-size: 28px;
    margin-bottom: 50px;

}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    border: 1px solid #ffff;
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #2dc997;
    transition: 0.5s;
    border: none;
}

.about {
    padding: 60px 0;

}

.about-title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-subtitle {
    line-height: 26px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

}

.icon-box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #2dc997;
    margin-right: 20px;
}

.icon-desc {
    color: #111;
    font-size: 20px;
}

.icon-subtitle {
    line-height: 24px;
    font-size: 14px;
}

.facts {
    padding: 80px 0;
    text-align: center;
    background-color: #f3f2f2;
}

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-desc {
    text-align: center;
    padding-bottom: 40px;
    color: #999;

}

.facts-stats {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.facts-item {
    text-align: center;
}

.facts-num {
    font-size: 48px;
    color: #2dc997;
}

.facts-title {
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}

.services {
    padding: 60px 0;
    text-align: center;
}

.services-item {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
}

.services-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.services-subtitle {
    font-size: 14px;
    line-height: 24px;
}

.services-box {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -36px;
    transition: 0.2s;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #2dc997;
}

.services-box:hover {
    background-color: #fff;
    border: 2px solid #2dc997;
}

.action {
    background: rgba(0, 0, 0, 0.5) url("../images/call-to-action-bg.jpg") fixed no-repeat center/cover;
    background-blend-mode: darken;
    padding: 100px 0 120px;

}

.action-title {
    color: white;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.action-subtitle {
    color: white;
    margin-bottom: 30px;
}

.action-item {
    display: flex;
    justify-content: end;
    align-items: center;
}

.action-btn {
    text-align: center;
}

.portfolio {
    padding: 50px 0;
}
.portfolio-item{
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.card{
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
    background: #2dc997;
    padding: 15px 20px;
    color: white;
}
.portfolio-item:hover .card{
    bottom: 0;
}
.portfolio-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    padding: 50px 0;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.team-item{
    text-align: center;
}
.team-title {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;

}

.team-subtitle {
    font-style: italic;
    font-size: 13px;

}

.team-img {
    max-width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    height: 260px;

}
.contact{
    padding: 50px 0;
}
.form{
    align-items: center;
}
.contact-form label{
    margin-right: 40px;
}
.contact-btn{
    padding: 10px 20px;
    background-color: #2dc997;
    color: white;
    cursor: pointer;
    border: none;
}
.footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.footer-subtitle {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

.footer a {
    text-decoration: none;
    color: #2dc997;
}
